
#category{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f2f2f2;
    height: 100vh;
    font-family: "Roboto", sans-serif;
}

.card{
    position: relative;
    z-index: 1;
    display: block;
    background: transparent;
    min-width: 270px;
    max-width: 250px;
  box-shadow: 20px 20px 30px -20px #00000040;
}

.card-content{
  clear: both;
  max-width: 250px;
  background-color: #fff;
  padding: 20px;
  border-bottom-right-radius:15px;
  border-bottom-left-radius: 15px;
}

.head-card{
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-mask{
 height: 170px;
 overflow: hidden;
border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}


.img-mask > img{
    display: block;
    width: 100%;
    z-index: 1;
}

.rate{
  position: absolute;
  height: 17px;
  padding: 10px;
  background-color: #ffffff85;
  border-radius: 20px;
  font-size: 12px;
  max-width: 150px;
  width: 110px;
  line-height: 1.5;
  text-align: center;
  top: 15px;
  left: 20px;
  box-shadow: 20px 20px 30px -20px #00000040;
}

.rate > i:hover{
  color: #ff6a00;
}

.rate > i{
    font-size: 14px;
    clear: both;
    float: left;
    position: relative;
    left: 10%;
  transition: 0.3s color;
  cursor: pointer;
}


.like{
position: absolute;
    right: 20px;
    top: 15px;
    line-height: 1.5;
    padding: 10px;
    width: 17px;
    height: 17px;
    background-color: #ffffff85;
    border-radius: 100%;
    text-align: center;
    font-size: 14px;
    transition: 0.3s background-color, color;
  box-shadow: 20px 20px 30px -20px #00000040;
}

.like:hover{
    background-color: #ffabab;
    color: white;
    cursor: pointer;
    box-shadow: 4px 4px 30px 0px #ffabab6b;
}

.price{
  height: 17px;
  max-width: 150px;
  width: 110px;
  padding: 10px;
  background-color: #e5e5e5;
  border-radius: 20px;
  text-align: center;
  font-size: 11px;
  font-weight: 500;
}

h2.title{
  font-size: 15px;
  margin-bottom: 25px;
}